.new-post {
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
}

.new-post header,
.posts header {
    margin-bottom: 20px;
}

.posts .post {
    padding-left: 10px;
    border-left: 3px solid #7E7E7E;
    margin-bottom: 30px;
}

.posts .post-yours {
    border-left: 3px solid #1b26a2;
}



.posts .post .info {
    color: #aaa;
    font-style: italic;
}

.error {
    border: 1px solid #c53030;
    background-color: rgb(252, 188, 188);
    color: #c53030;
    padding: 10px 20px;
    border-radius: 3px;
}

.error ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.success {
    border: 1px solid #234e52;
    background-color: #e6fffa;
    color: #234e52;
    padding: 10px 20px;
    border-radius: 3px;
}
